body {
  		font-size:          	16px;
  		background: url(bilder/gildebuch-innen.jpg) no-repeat;
  		background-repeat: no-repeat;
		font-family: 		, "Times New Roman", Times, serif;
		font-style:         italic;
		height: 			700px;
		width:			800px;
		text-align: center;
	 }
h1 {
		font-size:   25px;

}

h2 {
		font-size:   20px;

}

.links {
		height: 		600px;
		width:			300px;
		position: absolute;
		top:	50px;
		left: 60px;
		
	
		}
.rechts {
		height: 		600px;
		width:			300px;
		position: absolute;
		top:	50px;
		left: 440px;
}
a:visited {
			color: black;
			text-decoration: none;
			
}
a:hover {
		color: black;
		text-decoration: none;
}
a:link {
		color: black;
		text-decoration: none;
}

#bild {
		height: 		600px;
		width:			300px;
		text-align: center;
		
}